In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
data_train = pd.read_csv("data/train.csv")
df_train = data_train.copy()
data_train.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500

In [66]:
data_train.shape

(1460, 81)

In [16]:
nan_cols = df_train.isnull().sum().index[df_train.isnull().sum()>0.15*len(df_train)].to_list()
nan_cols

['LotFrontage',
 'Alley',
 'MasVnrType',
 'FireplaceQu',
 'PoolQC',
 'Fence',
 'MiscFeature']

In [17]:
df_train = df_train.drop(nan_cols, axis=1)

In [20]:
df_train = df_train.drop('Id', axis=1)

In [22]:
df_train.select_dtypes('object').columns

Index(['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional',
       'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [23]:
df_train.select_dtypes('int').columns

Index(['MSSubClass', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt',
       'YearRemodAdd', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF',
       '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath',
       'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr',
       'TotRmsAbvGrd', 'Fireplaces', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [24]:
df_train.select_dtypes('float').columns

Index(['MasVnrArea', 'GarageYrBlt'], dtype='object')

In [26]:
df_train.isnull().sum()[df_train.isnull().sum()>0.0*len(df_train)]

MasVnrArea       8
BsmtQual        37
BsmtCond        37
BsmtExposure    38
BsmtFinType1    37
BsmtFinType2    38
Electrical       1
GarageType      81
GarageYrBlt     81
GarageFinish    81
GarageQual      81
GarageCond      81
dtype: int64

In [34]:
df_train[df_train['GarageType'].isnull()][['GarageType', 'GarageYrBlt', 'GarageFinish','GarageQual', 'GarageCond' ]]

     GarageType  GarageYrBlt GarageFinish GarageQual GarageCond
39          NaN          NaN          NaN        NaN        NaN
48          NaN          NaN          NaN        NaN        NaN
78          NaN          NaN          NaN        NaN        NaN
88          NaN          NaN          NaN        NaN        NaN
89          NaN          NaN          NaN        NaN        NaN
...         ...          ...          ...        ...        ...
1349        NaN          NaN          NaN        NaN        NaN
1407        NaN          NaN          NaN        NaN        NaN
1449        NaN          NaN          NaN        NaN        NaN
1450        NaN          NaN          NaN        NaN        NaN
1453        NaN          NaN          NaN        NaN        NaN

[81 rows x 5 columns]

In [38]:
df_train[[ 'GarageCond' ]].value_counts()

GarageCond
TA            1326
Fa              35
Gd               9
Po               7
Ex               2
Name: count, dtype: int64

In [59]:
def imputer(df):
    for column in df.columns:
        if 'Garage' in column:
            df[column]=df[column].fillna('NO_Garage')
        if 'Bsmt' in column:
            df[column]=df[column].fillna('NO_Basement')
    return df

In [60]:
df_train = imputer(df_train)

In [61]:
df_train.isnull().sum()[df_train.isnull().sum()>0.0*len(df_train)]

MasVnrArea    8
Electrical    1
dtype: int64

In [63]:
# drop rows that have NaN values
df_train = df_train.drop_duplicates()
df_train = df_train.dropna(axis=0)

In [65]:
df_train.shape

(1451, 73)

In [68]:
df_train.isnull().sum().sum()

0

## ML model

In [83]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import AdaBoostRegressor, RandomForestRegressor, GradientBoostingRegressor

In [101]:
X = df_train.drop('SalePrice', axis=1)
y = df_train['SalePrice'].to_list()

In [102]:
X_train, X_test, y_train,  y_test = train_test_split(X, y, shuffle = True ,random_state = 42)

In [103]:
y_train.shape

AttributeError: 'list' object has no attribute 'shape'

In [106]:
list_of_models= {#"AdaBoost":AdaBoostRegressor(random_state = 42), 
"RandomForest":RandomForestRegressor(random_state = 42),
"GradientBoost":GradientBoostingRegressor(random_state = 42)}

In [108]:
for name, model in list_of_models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    r2 = model.score(X_test)
    rmse = mean_squared_error(y_test, y_pred, squared=False)
    print(f'{model} : R2 score = {r2} and RMSE = {rmse}')

ValueError: could not convert string to float: 'RL'

In [105]:
y_train

[175000,
 124000,
 130000,
 128000,
 141500,
 375000,
 130500,
 190000,
 113000,
 205000,
 137500,
 239000,
 179500,
 125500,
 239000,
 160000,
 140000,
 423000,
 394432,
 88000,
 193000,
 163000,
 128000,
 200000,
 235000,
 184750,
 144152,
 195400,
 173000,
 128500,
 171000,
 187000,
 153900,
 145000,
 89471,
 115000,
 180000,
 253000,
 135000,
 208900,
 135000,
 555000,
 235000,
 274900,
 203000,
 115000,
 103600,
 170000,
 154000,
 129500,
 222500,
 325000,
 244600,
 158500,
 133000,
 131000,
 179400,
 236500,
 100000,
 446261,
 185900,
 150000,
 120500,
 284000,
 242000,
 130000,
 181000,
 188000,
 174000,
 104900,
 145000,
 139000,
 116000,
 129000,
 168500,
 138000,
 209500,
 254900,
 220000,
 190000,
 176000,
 133000,
 143000,
 160000,
 133700,
 111250,
 185000,
 225000,
 135000,
 271900,
 169900,
 110000,
 155000,
 214000,
 106000,
 250000,
 178740,
 82000,
 145000,
 123000,
 109900,
 109500,
 451950,
 60000,
 119500,
 197900,
 129900,
 91300,
 215000,
 94000,
 174900,
 260000,
 297000,
 171750,
 108000,
 326000,
 97000,
 360000,
 62383,
 159434,
 107500,
 85000,
 197900,
 89000,
 149900,
 135000,
 236000,
 105900,
 131000,
 181000,
 501837,
 122000,
 125500,
 107000,
 142500,
 214500,
 127000,
 139500,
 187000,
 227000,
 194500,
 85000,
 148000,
 160000,
 156500,
 139400,
 134900,
 154500,
 152000,
 190000,
 135900,
 112000,
 116000,
 437154,
 228500,
 91000,
 149000,
 274725,
 110000,
 105000,
 192000,
 126000,
 281000,
 190000,
 235000,
 78000,
 187500,
 118400,
 180000,
 144000,
 215000,
 276000,
 114500,
 157900,
 139000,
 230000,
 325000,
 197500,
 93500,
 231500,
 137000,
 119000,
 386250,
 175900,
 60000,
 324000,
 157000,
 100000,
 310000,
 60000,
 170000,
 142953,
 144000,
 147000,
 192500,
 140000,
 179540,
 250000,
 301000,
 143000,
 145900,
 165400,
 52000,
 82000,
 179665,
 120000,
 143000,
 85000,
 122000,
 195000,
 196000,
 227000,
 157000,
 265979,
 410000,
 340000,
 188500,
 172500,
 342643,
 215200,
 333168,
 135000,
 113000,
 213000,
 80500,
 120000,
 140000,
 106000,
 109500,
 115000,
 285000,
 189000,
 180000,
 121600,
 253293,
 79900,
 186000,
 165000,
 132000,
 158000,
 180000,
 135000,
 260000,
 119000,
 37900,
 129000,
 149900,
 206900,
 168000,
 156932,
 143000,
 124500,
 207500,
 118000,
 223500,
 307000,
 119900,
 140000,
 149500,
 191000,
 134450,
 216000,
 306000,
 255000,
 224000,
 142000,
 119500,
 133000,
 139900,
 189000,
 220000,
 256300,
 214000,
 139000,
 249700,
 100000,
 318061,
 180500,
 556581,
 156000,
 180000,
 225000,
 138500,
 185000,
 149300,
 285000,
 319900,
 367294,
 315750,
 93000,
 260400,
 137000,
 392500,
 107500,
 205000,
 167000,
 134900,
 170000,
 302000,
 287000,
 158000,
 163500,
 137500,
 127000,
 185000,
 156000,
 106250,
 216837,
 194500,
 120000,
 180000,
 136900,
 144000,
 265900,
 110000,
 395000,
 110000,
 129500,
 252000,
 133500,
 106000,
 130500,
 200000,
 171000,
 176500,
 193500,
 154900,
 250000,
 133000,
 149900,
 374000,
 127500,
 277000,
 82500,
 199900,
 254000,
 228950,
 94750,
 131400,
 242000,
 118964,
 212000,
 136905,
 90000,
 147400,
 147000,
 149900,
 147000,
 91500,
 426000,
 185500,
 189000,
 120500,
 225000,
 155000,
 224900,
 87000,
 76500,
 154000,
 745000,
 129500,
 204750,
 140000,
 165500,
 154000,
 120000,
 190000,
 128500,
 130500,
 205000,
 137500,
 173900,
 127000,
 168500,
 169000,
 245000,
 161000,
 109500,
 128500,
 195000,
 84900,
 119000,
 98300,
 162000,
 111000,
 161500,
 150000,
 144000,
 100000,
 239799,
 169500,
 148000,
 128000,
 197000,
 167900,
 202500,
 207500,
 186700,
 113000,
 97000,
 130000,
 104900,
 219500,
 320000,
 176432,
 235000,
 112000,
 118000,
 110000,
 102776,
 207500,
 319000,
 119000,
 250000,
 245350,
 234000,
 294000,
 167900,
 155000,
 222000,
 262500,
 125000,
 140000,
 135000,
 179000,
 122000,
 108000,
 248000,
 172500,
 215000,
 312500,
 172500,
 170000,
 88000,
 213490,
 84500,
 200000,
 224900,
 173500,
 259000,
 130000,
 139000,
 142000,
 119000,
 105000,
 202500,
 83500,
 97000,
 227000,
 123000,
 194000,
 132250,
 166000,
 132000,
 179900,
 127500,
 92900,
 377500,
 118000,
 39300,
 173000,
 290000,
 136500,
 125000,
 287090,
 169000,
 252678,
 110000,
 141000,
 271000,
 127000,
 250580,
 140000,
 112000,
 108000,
 192140,
 220000,
 233170,
 109500,
 339750,
 162900,
 161000,
 116900,
 124500,
 159895,
 154000,
 125000,
 208500,
 145000,
 151000,
 58500,
 208900,
 186500,
 196500,
 264561,
 137000,
 214000,
 240000,
 239000,
 280000,
 84500,
 176000,
 107500,
 189950,
 159500,
 109900,
 257000,
 200100,
 68400,
 187500,
 181134,
 173000,
 225000,
 135500,
 244000,
 267000,
 99500,
 145250,
 140000,
 170000,
 113000,
 155000,
 128000,
 147000,
 430000,
 315000,
 155000,
 113000,
 152000,
 207500,
 265000,
 130000,
 201000,
 79000,
 55000,
 228000,
 325624,
 88000,
 163000,
 234000,
 93000,
 287000,
 172785,
 144900,
 229456,
 79500,
 275500,
 197900,
 171000,
 89500,
 163000,
 161750,
 220000,
 150750,
 224000,
 179900,
 219210,
 475000,
 170000,
 176000,
 115000,
 109000,
 142600,
 214000,
 132500,
 105000,
 132500,
 187000,
 165000,
 154000,
 124000,
 195000,
 80000,
 135500,
 127000,
 165000,
 215000,
 158000,
 180000,
 240000,
 239900,
 275000,
 225000,
 175500,
 175500,
 91000,
 135000,
 94500,
 127500,
 123000,
 147000,
 211000,
 159000,
 162000,
 118000,
 87500,
 206000,
 178000,
 194201,
 101000,
 145000,
 139000,
 239000,
 303477,
 197000,
 105000,
 192000,
 174000,
 123500,
 162000,
 160000,
 145000,
 179000,
 140000,
 230500,
 132500,
 295493,
 255900,
 263000,
 381000,
 755000,
 142000,
 184000,
 169990,
 256000,
 200500,
 109000,
 372500,
 337000,
 394617,
 187500,
 206300,
 148000,
 115000,
 107400,
 193000,
 144000,
 226700,
 185000,
 148500,
 163900,
 314813,
 259500,
 126000,
 151000,
 167500,
 207500,
 152000,
 137500,
 123600,
 215000,
 134500,
 160000,
 212000,
 120000,
 174500,
 282922,
 218000,
 119000,
 345000,
 169500,
 164700,
 108480,
 176000,
 127000,
 335000,
 170000,
 320000,
 611657,
 179900,
 231500,
 377426,
 193879,
 158000,
 194000,
 102000,
 150500,
 270000,
 159500,
 159000,
 230000,
 134000,
 175500,
 82000,
 122500,
 251000,
 107000,
 173733,
 171000,
 187500,
 127500,
 133900,
 119200,
 196000,
 232000,
 235000,
 183900,
 142125,
 269790,
 118500,
 302000,
 137900,
 160000,
 170000,
 118000,
 134000,
 200000,
 237500,
 225000,
 139000,
 175000,
 167000,
 163990,
 167000,
 93000,
 172400,
 148000,
 97500,
 244400,
 385000,
 236000,
 239686,
 301500,
 185000,
 136500,
 221500,
 250000,
 102000,
 378500,
 73000,
 124000,
 125000,
 210000,
 240000,
 160000,
 140000,
 130000,
 305900,
 153500,
 178000,
 115000,
 145000,
 177000,
 196000,
 103000,
 153500,
 190000,
 85500,
 145500,
 245500,
 129900,
 354000,
 139000,
 148800,
 309000,
 128000,
 166000,
 179200,
 280000,
 193000,
 272000,
 100000,
 151400,
 137000,
 239500,
 233000,
 115000,
 125000,
 178900,
 147000,
 153000,
 392000,
 120000,
 124000,
 90000,
 87000,
 201000,
 117000,
 64500,
 315000,
 149000,
 91000,
 271000,
 112000,
 359100,
 177000,
 205000,
 184000,
 99900,
 115000,
 117000,
 211000,
 219500,
 380000,
 269500,
 149000,
 155900,
 125000,
 402000,
 174000,
 112500,
 197000,
 239000,
 466500,
 179200,
 200000,
 112000,
 134800,
 90350,
 179900,
 192500,
 153000,
 217000,
 200141,
 212000,
 230000,
 174000,
 141000,
 177000,
 226000,
 181000,
 194000,
 125000,
 256000,
 582933,
 162500,
 116500,
 125000,
 232600,
 138887,
 157000,
 35311,
 190000,
 200000,
 164900,
 197500,
 143000,
 198900,
 143000,
 115000,
 143000,
 385000,
 372402,
 168000,
 340000,
 141000,
 157000,
 215000,
 129900,
 176000,
 147000,
 178000,
 210000,
 145000,
 135000,
 223000,
 118500,
 112000,
 160000,
 151500,
 130000,
 130000,
 122000,
 440000,
 345000,
 157900,
 250000,
 255500,
 117500,
 86000,
 72500,
 115000,
 105000,
 258000,
 185000,
 232000,
 110000,
 124000,
 173000,
 120500,
 190000,
 313000,
 204000,
 156000,
 395192,
 235000,
 145000,
 228500,
 167000,
 176500,
 164990,
 136000,
 145000,
 112000,
 144000,
 140000,
 136000,
 274300,
 185000,
 192000,
 278000,
 174000,
 167240,
 152000,
 181500,
 383970,
 140000,
 246578,
 145000,
 83000,
 275000,
 162900,
 424870,
 180500,
 129000,
 52500,
 181000,
 155000,
 260000,
 108000,
 189000,
 180500,
 110000,
 168500,
 144000,
 127500,
 144000,
 128900,
 215000,
 485000,
 155000,
 160000,
 175000,
 221000,
 131500,
 318000,
 177000,
 189000,
 176000,
 328000,
 213250,
 116050,
 162000,
 171000,
 147000,
 185000,
 167500,
 128000,
 185750,
 299800,
 248900,
 118858,
 278000,
 143900,
 100000,
 110000,
 133000,
 67000,
 538000,
 155000,
 129500,
 119750,
 370878,
 75500,
 214900,
 110000,
 227875,
 83000,
 223500,
 177000,
 289000,
 138800,
 90000,
 320000,
 187100,
 140000,
 180000,
 248000,
 160000,
 191000,
 148000,
 179000,
 153575,
 142000,
 106500,
 110000,
 235000,
 136500,
 84500,
 235128,
 150000,
 219500,
 157000,
 95000,
 135000,
 155000,
 127000,
 135000,
 196500,
 210000,
 ...]